html body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    background: lightcyan;
}

#wrapper {
    height: 100%;
}

#scrollableBox {
    height: 1000px;
    width: 200px;
    background: grey;
}