html body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    pointer-events: none;
}

body {
    margin: 0;
    background: lightsalmon;
}

#scrollableBox {
    pointer-events: all;
    overflow: auto;
    position: absolute;
    top: 20px;
    left: 20px;
    height: 300px;
    width: 200px;
    background: grey;
    -webkit-overflow-scrolling: touch;
    user-select: none;
}